<div class="text-center px-5">
    <div class="row">
        <div class="col">

            <form #form="ngForm" (ngSubmit)="onSubmit(form)">


                <div class="input-group mt-3">
                    <label class="input-group-text" for="inputGroupSelect01">Find by</label>
                    <select class="form-select" id="select" [(ngModel)]="findBy" name="option">
                        <option selected value="FullCaseNumber">Full case number</option>
                        <option value="CollectionId">Collection id</option>
                        <option value="Status">Status</option>
                        <option value="Employee">Employee</option>
                        <option value="Source">Source</option>
                    </select>
                </div>
                
                <div class="input-group my-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Find cases bro!!!</span>
                    <input type="text" class="form-control" [(ngModel)]="caseNumber" name="caseNumber">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>

            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Full case number</th>
                        <th scope="col">Collection id</th>
                        <th scope="col">Current collection status</th>
                        <th scope="col">Sent date to AIA</th>
                        <th scope="col">Employee</th>
                        <th scope="col">Source</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ele of displayData">
                        <th>{{ele.fullCaseNumber}}</th>
                        <td>{{ele.collectionId}}</td>
                        <td>{{ele.status}}</td>
                        <td>{{ele.addDate}}</td>
                        <td>{{ele.executionUser}}</td>
                        <td>{{ele.source}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>